<% if @task.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>
 
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @task.project_id %>
  <h3>New task for <%= @task.project.title %> </h3> <br>
<% else %>
  <h3>New Task</h3> <br>
<% end %>

<%= render partial: "task_form", locals: {task: @task, projects: @projects} %>
