<h2><%= @user.full_name %>'s Projects </h2><br>
<% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %>
    <%= render partial: "tasks/task_list", locals: {tasks: project.tasks} %>
<% end %>