body {
        background-color: #F5F5F5;
}

.wrapper {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
}

ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      /* li.nav {
        float: left;
      } */
      
      li a.nav-link {
        display: block;
        padding: 8px;
      }

      div.search {
        display: inline-block;
        padding: 5px;
        display: flex;
      }

